---
import { type CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import ArrowRight from '../icons/ArrowRight.astro';
import FormattedDate from './FormattedDate.astro';

type Props = { post: CollectionEntry<'letters'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { post, class: className, headingLevel = 'h2' } = Astro.props;
const { title, publishDate, updatedDate, excerpt, image } = post.data;
const TitleTag = headingLevel;

// Import the image dynamically
// const imageImport = image ? await import(`../assets/${image}`) : null;
---

<a class:list={['flex justify-between items-start gap-8 group', className]} href={`/letters/${post.slug}/`}>
    <div class="grow">
        <TitleTag
            class="text-xl leading-tight font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-2xl"
        >
            {title}
        </TitleTag>
        <div class="mt-1 text-sm leading-normal">
            <FormattedDate date={publishDate} />
            {
                updatedDate && (
                    <>
                        {' '}
                        <span>
                            (Updated on <FormattedDate date={updatedDate} />)
                        </span>
                    </>
                )
            }
        </div>
        <div class="flex items-start mt-3">
            {
                image && (
                    <div class="mr-4 shrink-0">
                        <Image src={image} alt={title || ''} width={100} height={100} class="w-[100px] h-[100px] object-cover" />
                    </div>
                )
            }
            {excerpt && <div class="text-sm leading-normal flex-grow">{excerpt}</div>}
        </div>
    </div>
    <div class="hidden font-serif italic opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:gap-1 sm:items-center sm:shrink-0">
        Read Letter <ArrowRight class="fill-current w-4 h-4" />
    </div>
</a>
